---
// import { Icon } from 'astro-icon';
import ButtonGrey from "./ButtonGrey.astro";
export interface Props {
	title1: string;
	body1: Array<string>;
	body2: string;
	href1: string;
	imgPath1: string;
	collapseLinkId: string;
}

const { imgPath1, href1, title1, body1, body2, collapseLinkId} = Astro.props;
---

<div class="card">
	<div class="card-img-text">
		<img src={imgPath1} class="card-img" alt="Klassische Massage" />
		<div class="card-text">
			<div class="card-title-button">
				<h2>{title1}</h2>
				<div class="card-button">
					<ButtonGrey href="/contacts/" text="MASSAGE BUCHEN" />
				</div>
			</div>
			<div>
				{body1.map((paragraph) => <p>{paragraph}</p>)}
				<p id={collapseLinkId} class="card-link">weiterlesen</p> 
			</div>	
		</div>
	</div>
	<div class="collapsed-text">
		<div id={collapseLinkId + "text"} class="card-text-rest">
			<div set:html={body2}></div>
			<!-- {body2.map((par) => <p>{par}</p>)} -->
		</div>
	</div>	
</div>

<script>	
	let collapsible = document.getElementsByClassName("card-link");
	let i = 0;

	for (i = 0; i < collapsible.length; i++) {
		collapsible[i].addEventListener("click", function() {		
		let textId = this.id + "text"
		let textElement = document.getElementById(textId)
		if (this.innerHTML === "weiterlesen") {
			this.innerHTML = "schlissen";
		} else {
			this.innerHTML = "weiterlesen";
		}
		if (textElement.style.display === "block") {
			textElement.style.display = "none";
		} else {
			textElement.style.display = "block";
		}
	  }
	  );
	}
</script>

<style>
	.card {
		background-color: rgba(255, 255, 255, 0.674);
		border-radius: 4px;
		margin-bottom: 20px;
	}

	.card-img-text {
		display: flex;
	}

	h1,
	h2,
	h3 {
		color: #8e9aaf;
	}

	.card-img {
		width: 50%;
		height: 100%;
		border-radius: 4px 0 0 4px;
		float: left;
	}

	.card-title-button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		flex-flow: wrap;
	}

	.card-text {
		max-width: 450px;
		padding: 20px;
	}

	.card-text p {
		text-align: left;
	}

	.card-link {
		color: #aaaaaa;
		cursor: pointer;
		padding-top: 20px;
	}

	.card-text-rest {
		display: none;
		padding: 20px 20px 20px 20px; 
	}

	.collapsed-text {
		/* padding: 20px; */
	}

	.card-button {
		/* margin-top: 10px; */
	}

	details {
		user-select: none;
	}

	details > summary span.icon {
		width: 24px;
		height: 24px;
		transition: all 0.3s;
		margin-left: auto;
	}

	details[open] summary span.icon {
		transform: rotate(180deg);
	}

	summary {
		display: flex;
		cursor: pointer;
	}

	summary::-webkit-details-marker {
		display: none;
	}

	@media (max-width: 900px) {

		.card-text {
			max-width: 100%;
		}

		.card {
			/* margin-top: 20px; */
			width: 100%;
		}

		.card-img-text {
			flex-flow: wrap;
		}

		.card-img {
			width: 100%;
		}

		.card-button {
			margin-top: 10px;
		}

		.card-link {
			padding-bottom: 0;
		}

		.card-text-rest {
			padding-top: 0;
		}
	}

	@media (max-width: 600px) {
		.cards h1 {
			font-size: 26px;
		}

		.card-text h2 {
			font-size: 22px;
		}

		.card-img {
			width: 100%;
		}

		.card-title-button {
			flex-wrap: wrap;
			/* justify-content: center; */
			/* margin-bottom: 0; */
		}

		.card-button {
			margin-top: 10px;
		}

		.card-text p {
			font-size: 18px;
		}

		.card-text-rest {
			font-size: 18px;
		}

		/* .collapsed-text {
			padding: 0 20px 20px 20px;
		} */

		.card {
			/* margin-top: 20px; */
			width: 100%;
		}

		.card-img-text {
			flex-flow: wrap;
		}

		.card .button-grey {
			margin: 0 auto;
		}
	}
</style>
